eid-trust-service-xkms2-ws/src/wsdl/xkms-extensions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:be:fedict:trust:xkms:extensions"
	xmlns:tns="urn:be:fedict:trust:xkms:extensions" xmlns:xkms="http://www.w3.org/2002/03/xkms#"
	elementFormDefault="qualified">

	<annotation>
		<documentation>
			Document identifier: Trust Service XKMS2 extensions
			Revision
			history: V1.0 (February, 2010):
			Initial Standard Schema.
		</documentation>
	</annotation>

	<import namespace="http://www.w3.org/2002/03/xkms#"
		schemaLocation="xkms.xsd" />

	<element name="TrustDomainMessageExtension" type="tns:TrustDomainMessageExtensionType" />
	<complexType name="TrustDomainMessageExtensionType">
		<complexContent>
			<extension base="xkms:MessageExtensionAbstractType">
				<attribute name="TrustDomain" type="string" use="required" />
			</extension>
		</complexContent>
	</complexType>

</schema>